aiohttp==2.3.3
async-timeout==2.0.0
chardet==3.0.4
cytoolz==0.8.2
gunicorn==19.7.1
multidict==3.3.2
redis==2.10.6
requests==2.18.4
rq==0.9.1
rq-scheduler==0.7.0
toolz==0.8.2
uvloop==0.8.1
yarl==0.14.2
